{% load humanize %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>新闻-武汉大学学生会</title>
</head>
<body>

{% include 'article/header.html' %}

<div class="wrapper">
    <div class="headline-wrapper">
        <ul>
            {% for news in headline_list %}
            <li>
                <img src="{{ news.cover_page_photo_path }}">
                <div class="headline-text-wrapper">
                    <h1>{{ news.title }}</h1>
                    <p>{{ news.introduction }}</p>
                    <h5>{{ news.kind.name }} | {{ news.create_time|naturaltime }}</h5>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="spot-wrapper">

    </div>
</div>

{% include 'article/fooetr.html' %}

</body>
</html>