  <h1>headline</h1>
<ul>{% load humanize %}
    {% for news in headline_list %}
        <li>{{ news.title }}-{{ news.author }}-{{ news.content }}-{{ news.create_time|naturaltime }}</li>
    {% endfor %}
</ul>
<h1>spotlight</h1>
<ul>
    {% for news in spotlight_list %}
        <li>{{ news.title }}-{{ news.author }}-{{ news.content }}</li>
    {% endfor %}
</ul>
<h1>school</h1>
<ul>
    {% for news in school_list %}
        <li>{{ news.title }}-{{ news.author }}-{{ news.content }}</li>
    {%  endfor %}
</ul>