{% load humanize %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>新闻-武汉大学学生会</title>
</head>
<body>

{% include 'article/header.html' %}

<div class="wrapper">
    <div class="headline-wrapper">
        <ul>
            {% for news in headline_list %}
            <li>
                <img src="{{ news.cover_page_photo_path }}">
                <div class="headline-text-wrapper">
                    <h1>{{ news.title }}</h1>
                    <p>{{ news.introduction }}</p>
                    <h5>{{ news.kind.name }} | {{ news.create_time|naturaltime }}</h5>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="spot-wrapper">
        <div class="section-title-wrapper">
            <div class="section-title-square"></div>
            <a href="#" class="section-title">热点新闻</a>
        </div>
        <ul>
            {% for news in spotlight_list %}
            <li>
                <div class="news-item-wrapper">
                    <img src="{{ news.cover_page_photo_path }}">
                    <h1 class="news-item-title">{{ news.title }}</h1>
                    <p class="news-item-inc">{{ news.introduction }}</p>
                    <h5 class="news-item-info">{{ news.kind.name }} | {{ news.create_time|naturaltime }}</h5>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="notice-wrapper">
        <div class="section-title-wrapper">
            <div class="section-title-square"></div>
            <a href="#" class="section-title">通知公告</a>
        </div>
        <ul>
            {% for news in notice_list %}
            <li>
                <div class="notice-item-wrapper">
                    <div class="notice-date-container">
                        <h6 class="notice-date-day"></h6>
                        <h3 class="notice-date-month"></h3>
                    </div>
                    <h1 class="notice-item-title"></h1>
                    <p class="notice-item-inc"></p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="school-wrapper">
        <div class="section-title-wrapper">
            <div class="section-title-square"></div>
            <a href="#" class="section-title">院系速递</a>
        </div>
        <ul>
            {% for news in school_list %}
            <li>
                <div class="news-item-wrapper">
                    <img src="{{ news.cover_page_photo_path }}">
                    <h1 class="news-item-title">{{ news.title }}</h1>
                    <p class="news-item-inc">{{ news.introduction }}</p>
                    <h5 class="news-item-info">{{ news.kind.name }} | {{ news.create_time|naturaltime }}</h5>
                </div>
            </li>
            {%  endfor %}
        </ul>
    </div>
</div>

{% include 'article/fooetr.html' %}

</body>
</html>